<div class="container">
  <h3 mat-dialog-title>Добавить новую категорию</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Название" [(ngModel)]="data.title" name="title" required>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Добавить</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Отменить</button>
    </div>
  </form>
</div>