<table mat-table
       [dataSource]="dataSource"
       matSort
       matSortActive="title"
       matSortDirection="desc">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header> Банк </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="balance">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header> Баланс </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.balance| currency : 'RUB' : 'symbol' : '1.2-2' : 'ru'}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</table>
<mat-card *ngIf="loadingVisible"
          style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner color="primary"
                        mode="indeterminate">
  </mat-progress-spinner>
</mat-card>