<table mat-table
       [dataSource]="dataSource"
       matSort
       matSortActive="order"
       matSortDirection="asc">
    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header> Категория </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{getCategoryTitle(row.categoryId)}} &nbsp;
            <span class="average">({{row.averageAmount | currency : 'RUB' : 'symbol' : '1.0-0' : 'ru'}})</span>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="month2">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>
            <mat-icon aria-label="Edit"
                      (click)="prevMonth.emit(); $event.stopPropagation();">keyboard_arrow_left</mat-icon>
            {{startDate.format('MMMM')}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{getAmount(row, startDate) | currency : 'RUB' : 'symbol' : '1.0-0' : 'ru'}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="month1">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header> {{startDate.clone().add(1, 'month').format('MMMM')}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{getAmount(row, startDate.clone().add(1, 'month')) | currency : 'RUB' :
            'symbol' : '1.0-0' : 'ru'}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="month0">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header>
            {{startDate.clone().add(2, 'month').format('MMMM')}}
            <mat-icon aria-label="Edit"
                      (click)="nextMonth.emit(); $event.stopPropagation();">keyboard_arrow_right</mat-icon>
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{getAmount(row, startDate.clone().add(2, 'month')) | currency : 'RUB' :
            'symbol' : '1.0-0' : 'ru'}}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</table>
<mat-card *ngIf="loadingVisible"
          style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary"
                          mode="indeterminate">
    </mat-progress-spinner>
</mat-card>