table {
    width: 100%;
  }
  mat-cell,
  mat-header-cell {
    padding-right: 20px;
  }
.mat-column-month0,
.mat-column-month1,
.mat-column-month2 {
  justify-content:flex-end;
}
.average {
  color: gray;
}
.amount:empty::after {
  content: '-';
}
.amount {
  &:empty::after {
    content: '-';
  }

  > span {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(0,0,238);
  }
}