<table mat-table
       [dataSource]="dataSource"
       matSort
       matSortActive="category"
       matSortDirection="asc">
    <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header> Категория </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{getCategoryTitle(row.categoryId)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="month2">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header> {{startDate.format('MMMM')}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{getAmount(row, startDate) | currency : 'RUB' : 'symbol' : '1.2-2' : 'ru'}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="month1">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header> {{startDate.clone().add(1, 'month').format('MMMM')}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{getAmount(row, startDate.clone().add(1, 'month')) | currency : 'RUB' :
            'symbol' : '1.2-2' : 'ru'}}
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="month0">
        <mat-header-cell *matHeaderCellDef
                         mat-sort-header> {{startDate.clone().add(2, 'month').format('MMMM')}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{getAmount(row, startDate.clone().add(2, 'month')) | currency : 'RUB' :
            'symbol' : '1.2-2' : 'ru'}}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</table>
<mat-card *ngIf="loadingVisible"
          style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary"
                          mode="indeterminate">
    </mat-progress-spinner>
</mat-card>