<div class="container">
  <h3 mat-dialog-title>Вы действительно хотите удалить правило?</h3>
  <div mat-dialog-content>
    Аккаунт: {{getAccountTitle(data.accountId)}}
    <p></p>
    МСС: {{getMccCodeById(data.mccId)}}
    <p></p>
    Категория банка: {{data.bankCategory}}
    <p></p>
    Описание: {{data.description}}
    <p></p>
    Категория: {{getCategoryTitle(data.categoryId)}}
    <p></p>
  </div>

  <div mat-dialog-actions>
    <button mat-button
            [mat-dialog-close]="true">Удалить</button>
    <button mat-button
            [mat-dialog-close]="false"
            tabindex="-1">Отменить</button>
  </div>
</div>
