<div class="container">
  <h3 mat-dialog-title>Редактировать правило</h3>

  <form class="mat-dialog-content"
        #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <mat-select [(value)]="data.accountId"
                    placeholder="Аккаунт">
          <mat-option [value]="null">Не важно</mat-option>
          <mat-option *ngFor="let account of getAccountsArray()"
                      [value]="account.id">
            {{account.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-select [(value)]="data.mccId"
                    placeholder="МСС">
          <mat-option [value]="null">Не важно</mat-option>
          <mat-option *ngFor="let mcc of getMccArray()"
                      [value]="mcc.id">
            {{mcc.code}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput
               placeholder="Категория банка"
               [(ngModel)]="data.bankCategory"
               name="bankCategory">
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput
               placeholder="Описание"
               [(ngModel)]="data.description"
               name="description">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent"
                      required>
        <mat-select [(value)]="data.categoryId"
                    placeholder="Категория">
          <mat-option *ngFor="let category of getCategoriesArray()"
                      [value]="category.id">
            {{category.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button
              [mat-dialog-close]="data">Добавить</button>
      <button mat-button
              [mat-dialog-close]
              tabindex="-1">Отменить</button>
    </div>
  </form>
</div>
