<h3>Список продуктов</h3>
<button mat-button color="primary"
        (click)="addNew()">Добавить новый продукт
</button>
<button mat-button color="primary"
        (click)="importAll()">Импортировать данные из Saltedge
</button>
<mat-action-list>
  <mat-list-item *ngFor="let account of accounts" (click)="row_click(account)">
    <div class="row-title">{{account.title}}</div>
    <div
      class="row-balance">{{(account.balance - account.creditLimit) | currency : 'RUB' : 'symbol' : '1.2-2' : 'ru'}}</div>
  </mat-list-item>
  <div class="row-total">
    <div class="row-title">Итого:</div>
    <div class="row-balance">{{getTotalOwnFunds() | currency : 'RUB' : 'symbol' : '1.2-2' : 'ru'}}</div>
  </div>
</mat-action-list>

<mat-card *ngIf="loadingVisible"
          style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner color="primary"
                        mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
