@import '../../../app.component.scss';

$large-font-size: 30px;
$medium-font-size: 18px;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    & > div {
        text-align: center;
    }
}
.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    
    .number {
        height: 75px;
        font-size: $large-font-size;
    }
}
.actions {
    display: flex;
    align-items: stretch;

    button {
        flex: 1;
        font-size: 24px;
        height: 75px;

        &.income {
            background-color: $green-color;
        }
        &.outcome {
            background-color: $red-color;
        }
    }
}
.datetime {
    padding-top: 20px;
    font-size: $medium-font-size;
}
.amount {
    padding-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;            /* new */

    .amount-item-center {
        flex: 0 1 auto;
        position: absolute;             /* new */
        left: 50%;
        transform: translateX(-50%);
        font-size: $large-font-size;
    }

    .amount-item-right {
        flex: 0 1 auto;
        margin-right: 100px;
        margin-left: auto;              /* new */
    }
}
.description {
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 20px;
    font-size: $medium-font-size;

    .mat-form-field {
        width: 100%;
    }
}