<table mat-table
       [dataSource]="dataSource"
       matSort
       matSortActive="order"
       matSortDirection="asc">
  <ng-container matColumnDef="order">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header> Порядок </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.order}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="account">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header> Аккаунт </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{getAccountTitle(row.accountId)}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="mcc">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header> МСС </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{getMccCodeById(row.mccId)}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="bankCategory">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header> Категория банка </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.bankCategory}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header> Описание </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header> Категория </mat-header-cell>
    <mat-cell *matCellDef="let row">{{getCategoryTitle(row.categoryId)}}</mat-cell>
  </ng-container>

  <!-- actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button
              color="primary"
              (click)="addNew()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let row; let i=index;">
      <button mat-icon-button
              color="accent"
              (click)="editItem(row)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>

      <button mat-icon-button
              color="accent"
              (click)="deleteItem(row)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</table>
<mat-card *ngIf="loadingVisible"
          style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner color="primary"
                        mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
