<div class="container">
  <h3 mat-dialog-title>Привязать счет</h3>

  <form class="mat-dialog-content"
        #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input type="text"
               matInput
               placeholder="Название"
               [(ngModel)]="data.title"
               name="title"
               required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input type="text"
               matInput
               placeholder="Код"
               [(ngModel)]="data.code"
               name="code"
               required>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input type="number"
               matInput
               placeholder="Баланс"
               [(ngModel)]="data.balance"
               name="balance">
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button
              type="submit"
              [mat-dialog-close]="data"
              [disabled]="!formControl.valid">Привязать</button>
      <button mat-button
              [mat-dialog-close]
              tabindex="-1">Отменить</button>
    </div>
  </form>
</div>