<mat-toolbar>
    <span>История переводов</span>
</mat-toolbar>
<table mat-table
       [dataSource]="transactions">
    <ng-container matColumnDef="account">
        <mat-header-cell
            *matHeaderCellDef> Аккаунт </mat-header-cell>
        <mat-cell
            *matCellDef="let row"> {{getAccountTitle(row.accountId)}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="dateTime">
        <mat-header-cell
            *matHeaderCellDef> Дата и время </mat-header-cell>
        <mat-cell
            *matCellDef="let row"> {{row.dateTime | date: 'dd.MM.yyyy HH:mm:ss'}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="category">
        <mat-header-cell
            *matHeaderCellDef> Категория </mat-header-cell>
        <mat-cell
            *matCellDef="let row">
            <mat-select [(value)]="row.categoryId"
                        (selectionChange)="category_Changed($event, row)"
                        placeholder="Нет категории">
                <mat-option [value]="null">Нет категории</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category.id">
                    {{category.title}}
              </mat-option>
            </mat-select>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="description">
        <mat-header-cell
            *matHeaderCellDef> Описание </mat-header-cell>
        <mat-cell
            *matCellDef="let row"> {{row.description}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="amount">
        <mat-header-cell mat-header-cell
            *matHeaderCellDef> Сумма </mat-header-cell>
        <mat-cell
            *matCellDef="let row"> {{row.amount}} </mat-cell>
    </ng-container>

    <mat-header-row
        *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row
        *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</table>
<mat-card *ngIf="loadingVisible"
          style="display: flex; justify-content: center; align-items: center">
    <mat-progress-spinner color="primary"
                          mode="indeterminate">
    </mat-progress-spinner>
</mat-card>