<mat-toolbar color="primary">
   <mat-toolbar-row>
      <span class="title">Slid Finance</span>
      <span class="user-info"
         *ngIf="isLoggedIn | async">{{(currentUser | async)?.email}}</span>
      <span class="spacer"></span>
      <a mat-button
         *ngIf="isLoggedIn | async"
         routerLink="/statictics/category">Статистика по категориям</a>
      <a mat-button
         *ngIf="isLoggedIn | async"
         routerLink="/transactions">Траты</a>
      <a mat-button
         *ngIf="!(isLoggedIn | async)"
         routerLink="/entry/register">Регистрация</a>
      <a mat-button
         *ngIf="!(isLoggedIn | async)"
         routerLink="/entry/login">Вход</a>
      <a mat-button
         *ngIf="isLoggedIn | async"
         (click)="logout()">Выход</a>
   </mat-toolbar-row>
</mat-toolbar>