<table mat-table
       [dataSource]="dataSource"
       matSort
       matSortActive="title"
       matSortDirection="asc">
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header> Банк </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="code">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header> Код </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="balance">
    <mat-header-cell *matHeaderCellDef
                     mat-sort-header> Баланс </mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.balance ? row.balance : 0 | currency : 'RUB' : 'symbol' : '1.2-2' : 'ru'}}
    </mat-cell>
  </ng-container>

  <!-- actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button
              color="primary"
              (click)="addNew()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let row; let i=index;">
      <button mat-icon-button
              color="accent"
              (click)="editItem(row)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>

      <button mat-icon-button
              color="accent"
              (click)="deleteItem(row)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>
</table>
<mat-card *ngIf="loadingVisible"
          style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner color="primary"
                        mode="indeterminate">
  </mat-progress-spinner>
</mat-card>