<mat-form-field>
  <mat-label>Продукт</mat-label>
  <mat-select [(value)]="account.productId" (selectionChange)="product_selectionChange()">
    <mat-option *ngFor="let product of products | async" [value]="product.id">
      {{product.title}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div *ngIf="tariffs | async, let tar">
  <mat-form-field>
    <mat-label>Тариф</mat-label>
    <mat-select [(value)]="account.selectedTariffId" (selectionChange)="tariff_selectionChange()">
      <mat-option *ngFor="let tariff of tar" [value]="tariff.id">
        {{tariff.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<p>Дата открытия счета:
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="account.opened" (dateChange)="saveChanges()">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</p>
<p>Кэшбэк</p>
<div *ngIf="categories | async, let cat" >
  <app-cashback-category *ngFor="let category of cat" [category]="category"></app-cashback-category>
</div>

