<p>Удалить карту</p>
После удаления карты вы не сможете восстановить данные, вместо с картой также удаляться операции по ней.
<button mat-button color="accent"
        (click)="deleteItem()">Удалить
</button>
<p>Код: {{account.code}}</p>
<mat-select [(value)]="account.saltedgeBankAccountId"
            (selectionChange)="saltedgeAccount_selectionChange()"
            placeholder="Аккаунт в SaltEdge">
    <mat-option *ngFor="let saltedgeAccount of saltedgeAccounts | async"
                [value]="saltedgeAccount.accountId">
        {{saltedgeAccount.providerName}}
    </mat-option>
</mat-select>
