<div class="container">
  <h3 mat-dialog-title>Переименовать банк</h3>

  <form class="mat-dialog-content"
        #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput
               placeholder="Название"
               [(ngModel)]="data.title"
               name="title"
               required>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button
              type="submit"
              [mat-dialog-close]="data"
              [disabled]="!formControl.valid">Переименовать</button>
      <button mat-button
              [mat-dialog-close]
              tabindex="-1">Отменить</button>
    </div>
  </form>
</div>
